@mixin clear-float(){
    content: " ";
    clear: both;
    display: block;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.navbar-btns{
    margin-top:6px;
    position:relative;
    left:38%;
}
.editor-body{
    width: 100%;
    height: 100%;
    .aside-left,.aside-right{
        background-color: #E5E5E5;
        width: 300px;
        height: 100%;
        position: fixed;
        bottom: 0;
        top: 52px;
    }
    .aside-left{
        left:0px;
        z-index:9999;
        .accordion-inside{
            border: 1px solid #f2f2f2;
            padding:4px;
            margin: 4px 0;
            cursor: pointer;
            border-radius: 4px;
            .left{
                float: left;
            }
            .right{
                float: right;
            }
        }
        .accordion-inside:after{
            @include clear-float();
        }
    }
    .container-fluid{
        padding:0 315px;
        .row{
            padding: 20px;
            background-color: #f2f2f2;
            position: relative;
            >div{
                border: 1px solid #9D9999;
                background-color: #ffffff;
                padding:20px;
                border-radius: 10px;
                .inside{
                    border: 1px solid #f2f2f2;
                    padding:10px;
                    border-radius: 5px;
                    position: relative;
                }
            }
            .remove{
                position: absolute;
                right: 0px;
                top:0px;
            }
        } 
    }
    .aside-right{
        right:0px;
        z-index:9999;
        .input-group{
            margin: 6px 0;
        }
    }
    .container-fluid.grown-add,.container-fluid.grown-remove{
        transition: 1s linear all;
        -webkit-transition: 1s linear all;
    }
    .grown{padding:0 15px;}
    .container-fluid.grown-add{
        padding:0 315px;
    }
    .container-fluid.grown-add.grown-add-active{
        padding:0 15px;
    }
    .container-fluid.grown-remove{}
    .container-fluid.grown-remove-active{      
        padding:0 315px;
    }
    .aside-left.ng-hide-add,.aside-left.ng-hide-remove,.aside-right.ng-hide-add,.aside-right.ng-hide-remove{
        transition:1s linear all;
        -webkit-transition:1s linear all;
        display:block!important;
    }
    .aside-left.ng-hide-add,.aside-right.ng-hide-add{
        opacity: 1;
    }
    .aside-left.ng-hide-add.ng-hide-add-active,.aside-right.ng-hide-add.ng-hide-add-active{
        opacity: 0;
    }
    .aside-left.ng-hide-remove,.aside-right.ng-hide-remove{
        opacity: 0;
    }
    .aside-left.ng-hide-remove.ng-hide-remove-active,.aside-right.ng-hide-remove.ng-hide-remove-active{
        opacity: 1;
    }
    
}
[ng-drag].dragging{
    opacity: 0.5;
    border:solid 1px red!important;
    width: 266px;
}
[ng-drag].drag-over{
    border:solid 1px green!important;
}
[ng-drop]{
    text-align: center;
    display: block;
    margin:0 auto;
    position: relative;
}
[ng-drop].drag-enter{
    border:solid 2px green!important;
}

