@mixin clear-float(){
    content: " ";
    clear: both;
    display: block;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.navbar-btns{
    margin-top:6px;
    position:relative;
    left:42%;
}
.editor-body{
    width: 100%;
    height: 100%;
    .aside-left,.aside-right{
        background-color: #E5E5E5;
        width: 300px;
        height: 100%;
        position: fixed;
        bottom: 0;
        top: 52px;
    }
    .aside-left{
        left:0px;
        z-index:9999;
        overflow: auto;
        height: 100%;
        .accordion-inside{
            border: 1px solid #f2f2f2;
            padding:4px;
            margin: 4px 0;
            cursor: pointer;
            border-radius: 4px;
            .left{
                float: left;
            }
            .right{
                float: right;
            }
        }
        .accordion-inside:after{
            @include clear-float();
        }
    }
    .container-fluid{
        padding:0 315px;
        .edit-show{
            padding: 20px;
            .dropzone{
                border: 1px dotted #9D9999;
                padding:20px;
                border-radius: 10px;
                ul[dnd-list],ul[dnd-list] > li {
                    position: relative;
                }
                ul[dnd-list] {
                    min-height: 22px;
                    margin: 0px;
                    padding-left: 0px;
                    display: block;
                }
                li {
                    min-height: 22px;
                    list-style-type : none;
                }
                .dndDragging {
                    opacity: 0.7;
                }
                .dndDraggingSource {
                    display: none;
                }
                .dndPlaceholder {
                    background-color: #ddd;
                    min-height: 22px;
                    display: block;
                    position: relative;
                }
                .selected .item {
                    color: #3c763d;
                    background-color: #dff0d8;
                    border: 1px solid red;
                }
                .selected{
                    border: 1px solid red;
                    overflow: auto;
                }
                .item {
                    padding: 10px 15px;
                    border: 1px solid #f2f2f2;
                }
            }
        } 
    }
    .aside-right{
        right:0px;
        z-index:9999;
        .input-group{
            margin: 6px 0;
        }
    }
    .container-fluid.grown-add,.container-fluid.grown-remove{
        transition: 1s linear all;
        -webkit-transition: 1s linear all;
    }
    .grown{padding:0 15px;}
    .container-fluid.grown-add{
        padding:0 315px;
    }
    .container-fluid.grown-add.grown-add-active{
        padding:0 15px;
    }
    .container-fluid.grown-remove{}
    .container-fluid.grown-remove-active{      
        padding:0 315px;
    }
    .aside-left.ng-hide-add,.aside-left.ng-hide-remove,.aside-right.ng-hide-add,.aside-right.ng-hide-remove{
        transition:1s linear all;
        -webkit-transition:1s linear all;
        display:block!important;
    }
    .aside-left.ng-hide-add,.aside-right.ng-hide-add{
        opacity: 1;
    }
    .aside-left.ng-hide-add.ng-hide-add-active,.aside-right.ng-hide-add.ng-hide-add-active{
        opacity: 0;
    }
    .aside-left.ng-hide-remove,.aside-right.ng-hide-remove{
        opacity: 0;
    }
    .aside-left.ng-hide-remove.ng-hide-remove-active,.aside-right.ng-hide-remove.ng-hide-remove-active{
        opacity: 1;
    }
}
.trashcan{
    position: fixed;
    bottom: 25px;
    right: 325px;
}