<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
    <title>Web Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="js/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="js/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/lib/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="js/lib/fileSaver/fileSaver.js"></script>
    <script type="text/javascript" src="js/dist/web-editor.js"></script>
    <style type="text/css">
        li{list-style-type:none;}
        *{padding: 0px;margin: 0px;}
    </style>
</head>
<body ng-controller="MainController">
    <nav class="navbar navbar-inverse" style="margin-bottom:0px;z-index:999;">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web Editor</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="btn-group btn-group-xs navbar-btns" role="group" aria-label="...">
                    <button type="button" class="btn btn-default navbar-btn" ng-click="edit()">Edit</button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="Preview()">Preview</button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="clear()"><a href="#">Clear</a></li>
                    <li ng-click="downloadCon()"><a href="#">Download Configuration File</a></li>
                    <li ng-click="downloadHtm()"><a href="#">Download Html</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="editor-body">
        <aside class="aside-left" ng-show="editShow">
            <accordion close-others="oneAtATime">
                <accordion-group is-open="status.oneOpen" is-disabled="status.oneDisabled">
                    <accordion-heading>
                        Gird system <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.oneOpen, 'glyphicon-chevron-right': !status.oneOpen}"></i>
                    </accordion-heading>
                    <div ng-repeat="item in models.girds" class="accordion-inside" dnd-draggable="item" dnd-effect-allowed="copy" dnd-copied="item.id = item.id + 1"><span class="left">{{item.type}}</span><span class="glyphicon glyphicon-fullscreen right" aria-hidden="true"></span></div>
                </accordion-group>
                <accordion-group is-open="status.twoOpen">
                    <accordion-heading>
                        Bace css <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.twoOpen, 'glyphicon-chevron-right': !status.twoOpen}"></i>
                    </accordion-heading>
                    <div ng-repeat="item in models.css" class="accordion-inside" dnd-draggable="item" dnd-effect-allowed="copy" dnd-copied="item.id = item.id + 1"><span class="left">{{item.type}}</span><span class="glyphicon glyphicon-fullscreen right" aria-hidden="true"></span></div>
                </accordion-group>
                <accordion-group is-open="status.threeOpen">
                    <accordion-heading>
                        Bace module <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.threeOpen, 'glyphicon-chevron-right': !status.threeOpen}"></i>
                    </accordion-heading>
                    <div ng-repeat="item in models.components" class="accordion-inside" dnd-draggable="item" dnd-effect-allowed="copy" dnd-copied="item.id = item.id + 1"><span class="left">{{item.type}}</span><span class="glyphicon glyphicon-fullscreen right" aria-hidden="true"></span></div>
                </accordion-group>
            </accordion>    
        </aside> 
        <aside class="aside-right" ng-show="editShow">
            <accordion>
                <accordion-group is-open="status.fiveOpen">
                    <accordion-heading>
                        CSS settings <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.fiveOpen, 'glyphicon-chevron-right': !status.fiveOpen}"></i>
                    </accordion-heading>
                    <div>
                        <div class="input-group" ng-repeat="(type, content) in models.selected.csstype">
                            <span class="input-group-addon">{{type}}</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="models.selected.csstype[type]">
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </aside> 
        <div class="container-fluid" ng-class="{grown:grow}">
            <div class="row" ng-class="{'edit-show': editShow}">
                <div class="col-md-12 dropzone" ng-repeat="list in models.dropzones" id="dropzone">
                    <div ng-include src="'directives/list.html'"></div>
                </div>
            </div>
        </div> 
        <div class="trashcan" ng-if="editShow">
            <div dnd-list="[]">
                <div><img src="pic/trash.png" width="103px" height="152px"></div>
            </div>
        </div>   
    </div>
</body>
</html>